<!-- This launch file is deprecated. A previous solution involved A-LOAM-FOR-HESAI, but this was replaced by fast_lio_slam which already implements A-LOAM. -->
<launch>
	<arg name="rviz" default="true"/>
	<arg name="bag_file" default="site1_handheld_1"/>

	<param name="use_sim_time" value="true"/>
	<param name="scan_line" type="int" value="32" />
	<param name="mapping_skip_frame" type="int" value="1" />
	<param name="minimum_range" type="double" value="0.3" />
	<param name="mapping_line_resolution" type="double" value="0.2"/>
	<param name="mapping_plane_resolution" type="double" value="0.4"/>
	<node pkg="aloam_velodyne" type="HscanRegistration" name="HscanRegistration" output="screen" />
	<node pkg="aloam_velodyne" type="alaserOdometry" name="alaserOdometry" output="screen" />
	<node pkg="aloam_velodyne" type="alaserMapping" name="alaserMapping" output="screen" />

	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find hilti)/rviz/aloam.rviz" />
	</group>

    <node pkg="rosbag" type="play" name="player" output="log" args="--clock -r 0.8 $(find hilti)/bag/$(arg bag_file).bag">
        <remap from="/alphasense/imu" to="/imu/data"/>
        <!-- <remap from="/velodyne_points" to="/velodyne_points_raw"/> -->
        <remap from="/hesai/pandar" to="/velodyne_points"/>
    </node>

	<node pkg="hilti" type="output_writer.py" name="output_writer" args="camera_init aft_mapped $(find hilti)/out/$(arg bag_file).txt" output="screen" launch-prefix="xterm -e"/>

</launch>
