<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true"/>
    <arg name="bag_file" default="site1_handheld_1"/>

    <arg name="lc_enable" default="false"/>
    <arg name="rviz" default="true" />

    <!-- Mapping_Velodyne -->
    <rosparam command="load" file="$(find hilti)/config/velodyne.yaml" />

    <!-- 调参说明：  -->
    <!-- point_filter_num，和filter_size_surf是滤波参数，越小前端效果越好，但运行越慢 -->
    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="scan_publish_enable" type="bool" value="1" />
	<param name="dense_publish_enable" type="bool" value="1" />
    <param name="filter_size_surf" type="double" value="0.8" />   <!-- 对当前点云的filter -->
    <param name="filter_size_map" type="double" value="0.4" />    <!-- 对地图的filter -->
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <param name="pcd_save_enable" type="bool" value="0" />

    <!-- <param name="decimation" type="double" value="4"/>
    <param name="max_depth" type="double" value="20.0"/> -->

    <!-- visualization -->
    <param name="visulize_map" value="true"/>

    <!--optimization  -->
    <param name="recontructKdTree" value="$(arg lc_enable)"/> <!-- 打开更新ikdtree -->
    <param name="updateState" value="$(arg lc_enable)"/>   <!-- 打开更新状态 -->
    <param name="updateFrequency" value="30"/> <!-- 每接受updateFrequency个点云，更新一次， 不能太大-->
    
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" /> 

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_fast_lio" args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" />
    </group>

    <!-- Loop Closure -->
    <!-- <include file="$(find aloam_velodyne)/launch/fastlio_velodyne_VLP_16.launch"/> -->

    <node pkg="rosbag" type="play" name="player" output="log" args="--clock -r 1.5 $(find hilti)/bag/$(arg bag_file).bag">
        <remap from="/alphasense/imu" to="/imu/data"/>
        <!-- <remap from="/velodyne_points" to="/velodyne_points_raw"/> -->
        <remap from="/hesai/pandar" to="/velodyne_points_raw"/>
    </node>

    <node pkg="hilti" name="pointcloud_formatter" type="pointcloud_formatter.py" output="screen" launch-prefix="xterm -e"/>

    <node pkg="tf" type="static_transform_publisher" name="body_to_pandar" args="0 0 0 0 0 0 velodyne PandarXT-32 150"/>

    <node pkg="tf" type="static_transform_publisher" name="imu_translator" args="0 0 0 0 0 0 imu imu_sensor_frame 150"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="odom_to_camera_init" args="0 0 0 0 0 0 odom camera_init 10"/> -->

    <!-- <node name="rviz" pkg="rviz" type="rviz"/> -->

</launch>