<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true"/>
    <arg name="use_rviz" default="true"/>
    <arg name="bag_file" default="site2_robot_2"/>
    
    <node pkg="rosbag" type="play" name="player" output="log" args="--clock -r 1.0 $(find hilti)/bag/$(arg bag_file).bag">
        <remap from="/rslidar_points" to="/hesai/pandar"/>
        <remap from="/imu/data" to="/alphasense/imu"/>
    </node>

    <include file="$(find fast_lio)/launch/mapping_hesai32.launch"/>
    <include file="$(find aloam_velodyne)/launch/aloam_hesai32.launch"/>
</launch>