<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true"/>
    <arg name="bag_file" default="site1_handheld_1"/>
    <!-- <arg name="bag_file" default="calibration_handheld"/> -->

    <include file="$(find hdl_graph_slam)/launch/hdl_graph_slam_imu.launch">
        <arg name="enable_imu_acc" value="true" />
        <arg name="enable_imu_ori" value="true" />
        <arg name="enable_floor_detection" default="false" />
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hilti)/rviz/hdl_graph_slam.rviz"/>

    <node pkg="rosbag" type="play" name="player" output="log" args="--clock -r 0.5 $(find hilti)/bag/$(arg bag_file).bag">
        <remap from="/hesai/pandar" to="/velodyne_points"/>
        <remap from="/alphasense/imu" to="/gpsimu_driver/imu_data"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="lidar_publisher" args="0 0 0 0 0 0 base_link PandarXT-32 10" />
</launch>