<?xml version="1.0"?>
<launch>
    <arg name="use_rviz" default="true"/>
    <param name="use_sim_time" value="true"/>
    <arg name="bag_file" default="site2_robot_1"/>

    <node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find hilti)/rviz/hdl_robot.rviz"/>

    <node pkg="rosbag" type="play" name="player" output="log" args="--clock -r 1.0 $(find hilti)/bag/$(arg bag_file).bag">
        <remap from="/rslidar_points" to="/velodyne_points"/>
    </node>

    <include file="$(find hdl_graph_slam)/launch/hdl_graph_slam_501.launch">
        <arg name="enable_floor_detection" default="false" />
    </include>

    <node pkg="tf" type="static_transform_publisher" name="lidar_publisher" args="0 0 0 0 0 0 base_link rslidar 300" />

    <node pkg="hilti" type="output_writer.py" name="output_writer" args="odom base_link $(find hilti)/out/$(arg bag_file).txt" output="screen" launch-prefix="xterm -e"/>
</launch>